
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Quicksand:wght@400;500;600;700&family=Roboto&family=Roboto+Mono&family=Source+Sans+Pro&family=Space+Mono&display=swap');



:root{
    --color-white: white;
}

*, *::after, *::before{
    box-sizing: border-box;
}

*{
    font-family: 'Concert One', cursive;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    border: 0;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


.logo{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}


.toggle-button{
    position: absolute;
    padding: 0 2rem;
    transform: translate(0, -3rem);
    width: fit-content;
}

.dropdown-menu{
    display: flex;
    justify-content: flex-end;
}

.menu-container, .stacked-card-container{
    border: solid white 1px;
    margin: 2rem;
    padding: 2rem;
    pointer-events: none;
}

.menu-container{
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in;
}

.stacked-card-container{
    background-color: black;
    position: absolute;
    height: 164px;
    width: 393px;
    border: solid white 1px;
}

.one.open{
    margin: 5px 5px 5px 0;
    transition: opacity 100ms ease-in-out;
}

.two.open{
    margin: 10px 10px 10px 0;
    transition: opacity 200ms ease-in-out;
}

.three.open{
    margin: 15px 15px 15px 0;
    transition: opacity 300ms ease-in-out;
}


.container{
    opacity: 0;
    pointer-events: none;
    transform: translate(0, -2rem);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in;
}

.container.open{
    opacity: 1;
    pointer-events: auto;
    transform: translate(0);
}


.mercury-container{
    display: grid;
    grid-template-areas: "h2 h2 h2" "img span span" "p p p";
    width: 313px;
    position: absolute;
    z-index: 9;
    border: 1px white solid;
    color: white;
    font-size: 2rem;
}

.mercury-container.open{
    opacity: 0;
}

.mercury-container h2{
    grid-area: h2;
}

.mercury-container p {
    grid-area: p;
}

.mercury-container img{
    grid-area: img;
}

.mercury-container span{
    grid-area: span;
}


li{
    list-style: none;
}

.planet-names{
    color: var(--color-white);
    font-size: 2rem;
    text-decoration: none;
    padding: 0 1rem;
}

.dropdown-header{
    color: white;
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5px;
}

.planet-list{
    display: grid;
    grid-template-areas: "1 1 1";
    padding: 0 4rem;
    gap: 0.5rem;
}

.planet-list a{
    background: none;
    
}

.planet-list a:hover{
    color: #AAFF00;
    text-shadow: var(--color-white) 1px 0 10px;
}


i{
    color: var(--color-white);
    font-size: 3.2rem;
}

/* MEDIA QUERIES */

@media (min-width: 740px) and (max-width: 1000px) {
    .planet-list{
        display: grid;
        grid-template-areas: "1 1 1 1 1 1 1 1 1";
    }
    .stacked-card-container{
        height: 106px;
        width: 769px;
    }

}

@media (max-width: 1000px) and (min-width: 850px) {
    .logo{
        justify-content: flex-start;
        translate: 3rem 8rem;
    }


}

    
@media (max-width: 740px) {
    .planet-list{
            display: grid;
            grid-template-areas: "1";
    }

    .stacked-card-container{
        height: 338px;
        width: 139px;
    }
}
